<%= form_with(scope: :session) do |form| %>
  <div class="mb-3">
    <%= form.label :email, class: "form-label" %>
    <%= form.email_field :email, class: "form-control", id: "exampleFormControlInput1", placeholder: "email" %>
  </div>
  <div class="mb-3">
    <%= form.label :password, class: "form-label" %>
    <%= form.password_field :password, class: "form-control", id: "exampleFormControlInput1", placeholder: "password" %>
  </div>
  <div class="mb-3 text-center">
    <%= form.submit "Login", class: "btn btn-success" %>
  </div>
  <div class="mb-3 text-center">
    <%= link_to "Create new Account", new_user_path, class: "btn btn-primary" %>
  </div>
<% end %>